__pycache__/
*.pyc
*.pyo
*.log
*.tmp

.venv/
venv/
wandb/
diffsynth.egg-info/

checkpoints/
models/
grpo/

submission.zip
submission_dataset_4_13/
submission_dataset_4_15/

14blora_test_gen_*/
4-13sub/
test_gen_*/
test_gen_cfg_zero_*/
ti2v_gen_*/
ti2v_test/
ti2v_test_notext/
vace5b_test_gen_*/
test_frames/

*.pt
*.pth
*.ckpt
*.safetensors
*.bin
*.whl
*.zip
*.mp4
*.gif
